.intro{
    padding: 0px 0.5rem 0rem 5rem;
    display:flex;
    height:77vh;
    padding-top:6rem;
}
.i-left{
    display:flex;
    position:relative;
    flex:1;
    flex-direction: column;
    gap:2rem;
}
.i-name{
    display:flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color:var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color:var(--title-color);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color:var(--text-color-alt);
    font-weight: bold;
    font-size: 100;
}

.i-button{
    width: 150px;
    height: 40px;
}

.i-icon{
    margin-top: 2rem;
    display:flex;
    gap:0rem;
}

.i-icon img {
    width: 75px;
    height:75px;
    
}

.i-icon>*{
    transform: scale(0.5) ;
}

.i-icon>*:hover{
    cursor: pointer;
}

.i-right{
    flex:1;
    position: absolute;
}

.i-right>*{  
    position: absolute;
}

.i-right img{
    transform: scale(0.22);
    left:-25rem;
    top: -58rem;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
   
}
.bottom img{
    width: 100%;
    
}
@media only screen and (max-width: 480px)  {
    .intro{
        flex-direction: column;
        padding: 0px 0.5rem 0rem 2rem;
        height: 60rem;
        gap:2rem;
    }

    .i-right{
        transform:scale(0.6);
        position: relative;      
        align-items: flex-end;            
    }

    .i-right img{
        left: -70rem;
        top:-70rem;
    }

}

@media only screen and  (min-width:481px) and (max-width: 770px) {
    .intro{
        flex-direction: column;
        padding: 0px 0.5rem 0rem 2rem;
        height: 50rem;
        align-items: center;
        gap:2rem;
    }

    .i-right{
        transform:scale(0.7);
        position: relative;      
        align-items: flex-end;            
    }

    .i-right img{
        left: -82rem;
        top:-60rem;
    }

}

@media only screen and  (min-width:770px) and (max-width: 1024px) {
    .intro{        
        height: 30rem;      
    }

    .i-right{
        transform:scale(0.6);
        position: relative;      
        align-items: flex-end;            
    }

    .i-right img{
        top:-65rem;
        left:-70rem       
    }

}

@media only screen and  (min-width:1024px) and (max-width: 1300px) {
    .intro{        
        height: 30rem;      
    }

    .i-right{
        transform:scale(0.7);
        position: relative;      
        align-items: flex-end;            
    }

    .i-right img{
        top:-65rem;
        left:-70rem
        
    }
}
